body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.close_sesion{
  background: #222d32;
  border-radius: 10px;
}

.close_sesion_mobile{
  background-color: #367fa9;
  display: none;
}

@media only screen and (max-width: 800px){
  .close_sesion_mobile{
    display: block;
    background-color: #367fa9;
  }
}
